@{
    ViewData["Title"] = "Cyprus Dams - Reservoir Storage";
}


<table style="width:75%">
    <tr>
        <th>Reservoir</th>
        <th>Capacity, MCM</th>
        <th>Storage, MCM</th>
        <th>Storage, %</th>
    </tr>        
@foreach (var snapshot in Model.LatestSnapshots)
{
    <tr>
        <td>@snapshot.Dam.Name</td>
        <td>@snapshot.Dam.Capacity</td>
        <td>@snapshot.Storage</td>
        <td>@(snapshot.StoragePercentage.ToString("0.00"))%</td>
    </tr>
}
</table>
