@using Dam.Domain
@{
    ViewData["Title"] = "Cyprus Dams - Reservoir Storage";
}


<table style="width:75%">
    <tr>
        <th>Reservoir</th>
        <th class="text-right">Capacity, Mm<sup>3</sup></th>
        <th class="text-right">Storage, Mm<sup>3</sup></th>
        <th class="text-right">Storage, %</th>
    </tr>
    @foreach (DamSnapshot snapshot in Model.LatestSnapshots)
    {
        <tr>
            <td>@snapshot.Dam.Name</td>
            <td class="text-right">@snapshot.Dam.Capacity.ToString("0.000")</td>
            <td class="text-right">@snapshot.Storage.ToString("0.000")</td>
            <td class="text-right">@(snapshot.StoragePercentage.ToString("0.00"))%</td>
        </tr>
    }
</table>
